@media screen and (max-width:1439px) {
    .projects-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:999px) {
    .services{
        flex-direction: column;
    }

    .svc-container{
        width: 70%;
    }
}

@media screen and (max-width:970px) {
    .all-intro{
        margin-bottom: 20px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:950px) {
    .LR-container-about{
        flex-direction: column;
        gap: 20px;
    }

    .myself{
        margin-right: 0;
    }

    .left-about{
        min-width: 0px;
    }

    .right-about{
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .LR-container{
        flex-direction: column;
    }

    nav{
        justify-content: center;
    }

    .nav-logo{
        display: none;
    }

    .nav-list{
        margin-right: 0px;
    }
}

@media screen and (max-width:549px) {
    .home-intro-container{
        height: 400px;
        line-height: 70px;
        font-size: 1rem;
    }

    .home-text-container h3,.home-text-container p{
        font-size: 1rem;
    }
}

@media screen and (max-width:426px){
    footer{
        font-size: 0.7rem;
    }
}


@media screen and (max-width:424px) {
    .home-intro-container{
        height: 300px;
        line-height: 60px;
        font-size: 0.8rem;
    }

    .profile{
        width: 240px;
        height: 240px;
    }

    .all-intro{
        margin-bottom: 20px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }

    .projects p{
        display: none;
    }

    .projects h3{
        padding: 20px;
    }

    .left{
        width: 90%;
        min-width: 0px;
    }

    .form-row{
        display: none;
    }

    .form-row-m{
        display: flex;
    }

    .form-row-m input{
        width: 100%;
        border: none;
        margin-top: 20px;
        padding: 10px;
    }
}

 @media screen and (max-width:374px) {
    nav{
        font-size: 0.8rem;
        height: 64px;
    }

    main{
        padding-top: 80px;
    }
}