*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
}

nav{
    background-color: rgb(19, 19, 19);
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
    position: fixed;
    box-shadow: 0 4px 10px gray;
    z-index: 10;
}

.nav-logo{
    font-size: 1rem;
    margin-left: 40px;
}

.nav-list{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

ul li a{
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.active{
    color: #AAAAAA;
    text-decoration: underline;
    text-underline-offset: 20px;
}

ul li a:hover{
    color: #AAAAAA;
}

/* Navbar*/

main{
    padding-top: 100px;
}

.home-intro-container{
    width: 95%;
    height: 600px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(img/homebg.jpg);
    background-color: rgb(19, 19, 19);
    background-size: cover;
    background-repeat: no-repeat;
    color:#ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    line-height: 100px;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px gray;
    margin-bottom: 25px;
}

.home-intro-container h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.home-intro-container p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

button{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-btn{
    width: 112px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 0px;
}

.main-btn:hover{
    background-color: black;
    color: white;
}

.home-text-container{
    width: 95%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px gray;
    text-align: center;
    background-color: white;
}

.home-text-container-h3{
    padding: 20px;
    font-size: 1.5rem;
}

.home-text-container p{
    padding: 20px;
    line-height: 35px;
    font-size: 1.5rem;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svc-container{
    width: 25%;
    min-width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px gray;
    overflow: hidden;
    transition: all 0.5s ease;
}

.svc-container:hover{
    translate: 0 -10px;
    border: white;
    box-shadow: 0 4px 20px black;
}

.svc-container h2{
    position: relative;
}

.svc-image{
    height: 60%;
    width: auto;
    margin-top: 25px;
}

.svc-h3{
    padding: 20px;
}

@media screen and (max-width:999px) {
    .services{
        flex-direction: column;
    }

    .svc-container{
        width: 70%;
    }
}

@media screen and (max-width:549px) {
    .home-intro-container{
        height: 400px;
        line-height: 70px;
        font-size: 1rem;
    }

    .home-text-container h3,.home-text-container p{
        font-size: 1rem;
    }
}

@media screen and (max-width:424px) {
    .home-intro-container{
        height: 300px;
        line-height: 60px;
        font-size: 0.8rem;
    }
}

/*Home*/

.LR-container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    gap: 80px;
    max-width: 1000px;
    width: 100%;
}

.left-about,.right-about{
    width: 50%;
    justify-content: center;
}

.left-about{
    min-width: 400px;
    margin: 0 20px;
}

.all-intro{
    text-align: center;
    margin-bottom: 50px;
}

.profile-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.myself{
    line-height: 50px;
    margin-right: 50px;
}

@media screen and (max-width:950px) {
    .LR-container-about{
        flex-direction: column;
        gap: 20px;
    }

    .myself{
        margin-right: 0;
    }

    .left-about{
        min-width: 0px;
    }

    .right-about{
        width: 90%;
    }
}

@media screen and (max-width:424px) {
    .profile{
        width: 240px;
        height: 240px;
    }
}

/*About*/

.projects-grid{
    display: grid;
    align-items: center;
    margin: 50px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}

.projects{
    box-shadow: 0 4px 10px gray;
    border-radius: 25px;
    transition: all 0.5s ease;
    justify-self: center;
    text-align: center;
    width: 410px;
    height: 420px;
}

.projects h3{
    padding-top: 10px;
}

.projects p{
    padding: 10px;
    line-height: 30px;
}

.projects-grid a{
    text-decoration: none;
    color: inherit;
}

.projects:hover{
    translate: 0 -10px;
    border: white;
    box-shadow: 0 4px 20px black;
}

.projects-img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 410px;
    height: 60%;
}

.git{
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.git-link{
    text-decoration: none;
    color: #007BFF;
    transition: all 0.5s ease-in;
}

.git-link:hover{
    text-decoration:underline #007BFF;
}   

@media screen and (max-width:1439px) {
    .projects-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:970px) {
    .all-intro{
        margin-bottom: 20px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:424px) {
    .all-intro{
        margin-bottom: 20px;
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .projects-img{
        width: 100%;
        height: auto;
    }

    .projects p{
        display: none;
    }

    .projects h3{
        padding: 20px;
    }
}

/*Projects*/

.LR-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    gap: 80px;
    max-width: 1000px;
    width: 100%;
}

.left,.right{
    width: 50%;
    justify-content: center;
}

.left{
    min-width: 400px;
    margin: 0 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.form-row-m{
    display: none;
}

.form-row input {
    width: 50%;
    padding: 10px;
    border: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-group input,textarea{
    padding: 10px;
    border: none;
}

.name,.email,.subject{
    height: 30px;
}

.message{
    height: 200px;
    resize: none;
    font-family: inherit;
}

input:focus::placeholder,textarea:focus::placeholder{
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: green;
}

.contact-h2{
    margin: 10px 0;
}

.contact-h3{
    font-weight: 400;
    margin: 20px 0;
}

.contact-p{
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    .LR-container{
        flex-direction: column;
    }

    nav{
        justify-content: center;
    }

    .nav-logo{
        display: none;
    }

    .nav-list{
        margin-right: 0px;
    }
}

@media screen and (max-width:424px) {
    .left{
        width: 90%;
        min-width: 0px;
    }

    .form-row{
        display: none;
    }

    .form-row-m{
        display: flex;
    }

    .form-row-m input{
        width: 100%;
        border: none;
        margin-top: 20px;
        padding: 10px;
    }
}

@media screen and (max-width:374px) {
    nav{
        font-size: 0.8rem;
        height: 64px;
    }

    main{
        padding-top: 80px;
    }
}

/*Contact*/

footer{
    background-color: rgb(19, 19, 19);
    color: rgb(100 116 139);
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width:426px){
    footer{
        font-size: 0.7rem;
    }
}

/*Footer*/

